@charset "utf-8";

.title {
    font-size: 30px;
    padding: 50px 0;
    text-align: center;
}

.main {
    max-width: 230px;
    margin: auto;
}

.main .poke-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
}

.main .poke-box1 {
}

.main .poke-box .poke {
}

.main .poke-box .poke .img-margin{
    margin-bottom: 10px;
}

.main .poke-box .poke .title-name {
    font-size: 20px;
    margin-bottom: 5px;
}

.main .poke-box .poke p{
    margin-bottom: 5px;
}

.main .poke-box .poke .btn-box{
    text-align: center;
}

.main .poke-box .poke .btn-box .link-item{
    display: block;
	width: 100%;
	padding: 12px;
	text-align: center;
    text-decoration: none;
    font-weight: bold;
	color: #ffa600;
	border: 2px solid #ffa600;
	border-radius: 3px;
	transition: .4s;
}

.main .poke-box .poke .btn-box .link-item:hover{
    background: #ffa600;
	color: #fff;
}

.main .poke-box .poke .skill-list {
    margin-bottom: 5px;
}

.main .poke-box .poke .skill-list .{
    margin-bottom: 5px;
}

.main .poke-box .poke .skill-list p{
    margin-bottom: 5px;
}

.main .poke-box .poke .skill-list .skill-box1 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.main .poke-box .poke .skill-list .skill-box1 p{
    margin-right: 5px;
}

.main .poke-box .poke .skill-list .skill-box1 p:last-child{
    margin-right: 0;
}

.main .poke-box .poke .skill-list .skill-box2 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.main .poke-box .poke .skill-list .skill-box2 p{
    margin-right: 37px;
}

.main .poke-box .poke .skill-list .skill-box2 p:last-child{
    margin-right: 0;
}

